<!DOCTYPE html>
<html data-wf-domain="www.polymet.ai" data-wf-page="6602de8bdf787c2544d8ebfc" data-wf-site="6602de8bdf787c2544d8ebb1"
    lang="en" data-wf-locale="en">

<head>
    <meta charset="utf-8" />
    <title>Imaginary Hub AI - Idea to prototype within seconds</title>
    <meta
        content="Design the product idea you might have with our AI. Let it code and get your product team to ship faster"
        name="description" />
    <meta content="Polymet - Idea to prototype within seconds" property="og:title" />
    <meta
        content="Design the product idea you might have with our AI. Let it code and get your product team to ship faster"
        property="og:description" />
    <meta content="Polymet - Idea to prototype within seconds" property="twitter:title" />
    <meta
        content="Design the product idea you might have with our AI. Let it code and get your product team to ship faster"
        property="twitter:description" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="/css/style.css"
        rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="section-navbar">
        <div data-collapse="none" data-animation="default" data-duration="400"
            data-w-id="083b3595-12c0-3eb5-8a08-5d830155c0c6" data-easing="ease" data-easing2="ease" role="banner"
            class="navbar w-nav">
            <div class="w-layout-grid grid-navbar">
                <div data-w-id="083b3595-12c0-3eb5-8a08-5d830155c0c8" class="nav">
                    <a href="/" aria-current="page"
                        class="brand w-nav-brand w--current">
                    <h3>Imaginary Hub</h3>   
                    </a></div>
                <div data-w-id="083b3595-12c0-3eb5-8a08-5d830155c0cb" class="nav">
                    <nav role="navigation" class="nav-menu w-nav-menu"></nav>
                </div>
                <div id="w-node-_083b3595-12c0-3eb5-8a08-5d830155c0dc-0155c0c5"
                    data-w-id="083b3595-12c0-3eb5-8a08-5d830155c0dc" class="nav right"><a
                        href="#" target="_blank" class="nav-button">Book a Demo</a><a
                        href="/register" target="_blank" class="nav-button">Sign In</a>
                    <div class="menu-button w-nav-button">
                        <div class="menu-icon w-icon-nav-menu"></div>
                    </div>
                </div>
            </div>
            <div class="navbar-bg"></div>
        </div>
    </div>
    <div class="section-hero">
        <div class="content">
            <div class="block-hero"><a href="#" target="_blank"
                    class="link-block w-inline-block">
                    <div class="div-block">
                        <div class="text-block-2">Build by</div>
                        <span>Team Imaginary Hub</span>
                        <!-- <img
                            src="https://media.licdn.com/dms/image/v2/D560BAQGToxpqoNJSlQ/company-logo_100_100/company-logo_100_100/0/1696188470148?e=1749081600&v=beta&t=CprGKwLIDpFBe17AytxmKdG69GBiWr78SCCuS7u05fk"
                            loading="lazy" sizes="112.18359375px"
                            alt="" class="image" /> -->
                    </div>
                </a>
                <h1 data-w-id="Heading 2"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="heading-hero"> <span class="text-accent">AI Product Designer</span> <br /><span
                        class="text-span">at your service</span></h1>
                <p data-w-id="Paragraph 2"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="paragraph-hero">Design and iterate faster with AI<br />Get the production-ready code and ship
                    faster</p><a href="/register" target="_blank" class="button">Get started</a>
            </div>
            <div data-w-id="bfdef6b2-2e26-0bbb-6944-284fe24ab051" class="block-hero-img">
                <div data-w-id="f0a9adb6-97c5-d670-bdf2-d62f583968a8" class="app-screen---hero-1 moveup">
                    <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo embed0code"><iframe
                        src="https://www.youtube.com/embed/Ap3oPZoWYBY?rel=0&amp;controls=1&amp;autoplay=1&amp;mute=1&amp;start=0&amp;si=TIFZ9qt-yrMvO2w1"
                        frameBorder="0"
                        style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                        allow="autoplay; encrypted-media" allowfullscreen="" title="Polymet"></iframe></div><img
                    src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/667f4e98ec0c6fb9e337ca41_video-filler.svg"
                    loading="lazy" alt="" class="image-2" />
                </div>
                <div class="block-circle---hero-1"><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                        loading="lazy" sizes="(max-width: 479px) 18vw, 19vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                        alt="" class="image-circle---4" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png"
                        loading="lazy" sizes="9vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png 730w"
                        alt="" class="image-circle---5" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png"
                        loading="lazy" sizes="6vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png 730w"
                        alt="" class="image-circle---6" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                        loading="lazy" sizes="(max-width: 479px) 10vw, 11vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                        alt="" class="image-circle---7" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                        loading="lazy" sizes="6vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                        alt="" class="image-circle---8" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png"
                        loading="lazy" sizes="(max-width: 479px) 4vw, 5vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png 730w"
                        alt="" class="image-circle---9" /></div><img
                    src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec25_app%20screen%202.svg"
                    loading="lazy" alt="" class="app-screen---hero-2" />
                <div class="block-circle---hero-2"><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                        loading="lazy" sizes="12vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                        alt="" class="image-circle---1" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png"
                        loading="lazy" sizes="7vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png 730w"
                        alt="" class="image-circle---2" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png"
                        loading="lazy" sizes="5vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png 730w"
                        alt="" class="image-circle---3" /></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="content">
            <div class="block-center">
                <h2 data-w-id="c0134b8c-83d5-8cb3-75cd-01896103e19b"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="heading">How it works</h2>
            </div>
            <div class="w-layout-grid grid-sequence">
                <div id="w-node-div-block-7-44d8ebfc" data-w-id="Div Block 7"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="sequence">
                    <div class="icon-sequence-bg">
                        <div class="number-sequence-bg">
                            <div class="number-sequence">1</div>
                        </div><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec38_icon%206.svg"
                            loading="lazy" width="35" alt="" class="icon-sequence" />
                    </div>
                    <h4 class="heading-sequence">Describe what you need<br />or provide images</h4>
                </div><img
                    src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec3d_arrow%201.svg"
                    loading="lazy"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    data-w-id="Image" alt="" id="w-node-image-44d8ebfc" class="img-arrow---1" />
                <div data-w-id="5939fced-061f-0f25-e75e-7a91559b0cd7"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="sequence">
                    <div class="icon-sequence-bg">
                        <div class="number-sequence-bg">
                            <div class="number-sequence">2</div>
                        </div><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec34_icon%208.svg"
                            loading="lazy" width="35" alt="" class="icon-sequence" />
                    </div>
                    <h4 class="heading-sequence">Edit and iterate on your designs</h4>
                </div><img
                    src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec3e_arrow%202.svg"
                    loading="lazy"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    data-w-id="8fdb0733-9c0b-9d9a-d4ac-47309542a143" alt=""
                    id="w-node-_8fdb0733-9c0b-9d9a-d4ac-47309542a143-44d8ebfc" class="img-arrow---2" />
                <div data-w-id="1dd55293-f75c-254b-cf9b-00c735c9a649"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="sequence">
                    <div class="icon-sequence-bg">
                        <div class="number-sequence-bg">
                            <div class="number-sequence">3</div>
                        </div><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec33_icon%205.svg"
                            loading="lazy" width="35" alt="" class="icon-sequence" />
                    </div>
                    <h4 class="heading-sequence">Preview and <br />get the code</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section-full">
        <div class="w-layout-grid grid-content">
            <div id="w-node-div-block-5-44d8ebfc" data-w-id="Div Block 5" class="block-sticky">
                <h2 data-w-id="6712281c-a18e-3fc4-2a3f-ba7f0c9f70ac"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="heading">Get the <span class="text-accent">design</span> and <span
                        class="text-accent">code</span> for anything you build</h2>
                <p data-w-id="f6e3cf57-19e4-deb4-186c-077aeb10d296"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="paragraph">Our tool connects seamlessly with Figma and your codebase. You can use your
                    components with Polymet.</p>
                <div data-w-id="0604f937-32db-c517-9535-97acce0da30e"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="block-check">
                    <div class="check"><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec50_check%20orange.svg"
                            loading="lazy" alt="" class="icon-check" /></div>
                    <h6 class="heading-check">Design with AI</h6>
                </div>
                <div data-w-id="dbc8bebc-8d01-9a13-7049-29613c50d3e2"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="block-check">
                    <div class="check"><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec50_check%20orange.svg"
                            loading="lazy" alt="" class="icon-check" /></div>
                    <h6 class="heading-check">Connect your codebase</h6>
                </div>
                <div data-w-id="431001a9-5d72-a2f3-a82f-196947ed19b1"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="block-check">
                    <div class="check"><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec50_check%20orange.svg"
                            loading="lazy" alt="" class="icon-check" /></div>
                    <h6 class="heading-check">Works with your existing tools</h6>
                </div>
            </div>
            <div id="w-node-div-block-6-44d8ebfc" class="app-screen---a">
                <div class="w-layout-grid grid-app-screen---a"><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec25_app%20screen%202.svg"
                        loading="lazy" id="w-node-a78c73e5-1964-9b61-3f1e-339e900b4a4a-44d8ebfc" alt=""
                        class="app-screen---a1" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec3b_app%20screen%203.svg"
                        loading="lazy" alt="" class="app-screen---a2" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec3a_app%20screen%204.svg"
                        loading="lazy" id="w-node-f3c87fcf-3b9d-03bc-1e0c-b2f1fa56b88d-44d8ebfc" alt=""
                        class="app-screen---a3" /></div>
            </div>
            <div id="w-node-div-block-9-44d8ebfc" class="circle---a">
                <div class="block-circle---a"><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                        loading="lazy" sizes="16vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                        alt="" class="image-circle---a1" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                        loading="lazy" sizes="10vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                        alt="" class="image-circle---a2" /><img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png"
                        loading="lazy" sizes="8vw"
                        srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec2a_transparent%20circle.png 730w"
                        alt="" class="image-circle---a3" /></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="content">
            <div class="block-center">
                <h2 data-w-id="25f49b53-b442-fe8c-d1e8-b2388a358cce"
                    style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="heading">Frequently asked questions</h2>
            </div>
            <div data-w-id="25f49b53-b442-fe8c-d1e8-b2388a358cd2"
                style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="w-layout-grid grid-faq">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h6 class="heading-accordion">How can I start designing with Polymet, can I paste images?</h6>
                        <img src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec58_arrow.svg"
                            loading="lazy" alt="" class="icon-arrow" />
                    </div>
                    <div class="accordion-content">
                        <p class="paragraph-accordion">You can explain what you want in English just as you would with a
                            designer. You can also provide sketches and multiple images to explain what you need and
                            Polymet will design the interface for you. You can paste an image or upload by clicking the
                            icon in the input field.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h6 class="heading-accordion">Can it work with my existing designs?</h6><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec58_arrow.svg"
                            loading="lazy" alt="" class="icon-arrow" />
                    </div>
                    <div class="accordion-content">
                        <p class="paragraph-accordion">Yes! You can copy paste images to mimic your designs to start
                            iterating on it. We are building Figma imports and Github integration to work with your
                            existing components and design systems. They will be available to Enterprise and then Pro
                            customers. </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h6 class="heading-accordion">How does the code output look like?</h6><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec58_arrow.svg"
                            loading="lazy" alt="" class="icon-arrow" />
                    </div>
                    <div class="accordion-content">
                        <p class="paragraph-accordion">We provide React code with Shadcn but you can opt out of that by
                            prompting the AI to &#x27;design from ground up&#x27; or mention the ui kit you want to
                            design with. If you have any problems hit us up at support@polymet.ai.<br />Vue, Svelte, and
                            Mobile support with React Native is coming soon!</p>
                    </div>
                </div>
                <div id="w-node-_3c4189d0-3cd7-9440-eb20-fc89074aefb6-44d8ebfc" class="accordion-item">
                    <div class="accordion-header">
                        <h6 class="heading-accordion">How do I use IH with my team?</h6><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec58_arrow.svg"
                            loading="lazy" alt="" class="icon-arrow" />
                    </div>
                    <div class="accordion-content">
                        <p class="paragraph-accordion">You can click to your user profile and click &#x27;Manage&#x27;
                            to invite team members. Then you&#x27;ll be able to share a project with them by clicking
                            &#x27;Share with team&#x27; on a project. If you have any problems hit us up at
                            support@imaginaryhub.<br /></p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h6 class="heading-accordion">Do I need to be a designer to use it?</h6><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec58_arrow.svg"
                            loading="lazy" alt="" class="icon-arrow" />
                    </div>
                    <div class="accordion-content">
                        <p class="paragraph-accordion">No! We have a lot of managers and engineers with no frontend
                            experience using Polymet to design and prototype. We have seen managers using Polymet
                            instead of writing design specs and PRDs and just providing the prototype to their team.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h6 class="heading-accordion">What are the preview links?</h6><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec58_arrow.svg"
                            loading="lazy" alt="" class="icon-arrow" />
                    </div>
                    <div class="accordion-content">
                        <p class="paragraph-accordion">Preview links include the functional prototype of your designs.
                            You can share them with your team or customers to run demos to see if your new user flow is
                            working or not.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="last-signup" class="section">
        <div class="content">
            <div data-w-id="d0dc812c-ec2f-fd6d-6ad9-77361725f73b" class="w-layout-grid grid-banner">
                <div class="text-banner">
                    <h2 class="heading white">Start your project with Imaginary Hub</h2>
                    <p class="paragraph white">Go from an idea to prototype within seconds</p><a
                        href="/register" target="_blank" class="submit-button-white">Get started</a>
                </div>
                <div class="img-banner">
                    <div class="block-app-screen---c"><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec3c_app%20screen%206.svg"
                            loading="lazy" alt="" class="app-screen---c" /></div>
                    <div class="block-circle---c-down"><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                            loading="lazy" sizes="(max-width: 479px) 24vw, (max-width: 767px) 25vw, 24vw"
                            srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                            alt="" class="image-circle---c1" /><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                            loading="lazy" sizes="9vw"
                            srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                            alt="" class="image-circle---c2" /></div>
                    <div class="block-circle---c-top"><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                            loading="lazy" sizes="(max-width: 479px) 18vw, 19vw"
                            srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                            alt="" class="image-circle---c3" /><img
                            src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png"
                            loading="lazy" sizes="10vw"
                            srcset="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%2520circle-p-500.png 500w, https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602de8bdf787c2544d8ec29_orange%20circle.png 730w"
                            alt="" class="image-circle---c4" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <div class="content">
            <div class="w-layout-grid grid-footer">
                <div id="w-node-da92ec24-0a93-58e4-1a73-58ed5b0e2fba-5b0e2fb7"
                    data-w-id="da92ec24-0a93-58e4-1a73-58ed5b0e2fba" class="block-footer">
                    <!-- <img
                        src="https://cdn.prod.website-files.com/6602de8bdf787c2544d8ebb1/6602f6fb6affbf6881250d3d_polymet.png"
                        loading="lazy" alt="" class="logo-footer" /> -->
                        <h3>Imaginary Hub</h3>
                    <p class="paragraph-footer"><a href="#" class="link-3">Privacy
                            Policy<br /></a><a href="#" class="link-2">info@imaginaryhub<br /></a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/page.js"
        type="text/javascript" 
        crossorigin="anonymous"></script>
    <script src="/js/main.js"
        type="text/javascript"></script>
</body>

</html>
